.wrapper {
    background: rgba(18, 24, 41, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text {
    color: white;
}
