.wrapper_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 360px;
    margin-top: 100px;
}

.wrapper_low {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}


.wrapper_right {
    position: relative;
    height: 560px;
}

.blockStyle{
    width: 384px;
    background: linear-gradient(180deg, rgba(6,32,50,1) 5%, rgba(18,24,41,1) 50%);
    border-radius: 36px;
    position: relative;
    height: 100%;
    content: '';

}

.imageStyle {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    height: 580px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    min-height: calc(100vh - 70px - 99px);
}

.forgotStyle {
    text-decoration: none;
    display: block;
}