.wrapper {
    margin-top: 30px;
    min-height: calc(100vh - 175px);
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 20px;
    color: #EBEEF5;
}

.wrapper_card {
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}