.title {
    text-align: center;
    color: #BE123C;
     font-weight: bold;
    font-size: 40px;
   padding-top: 100px;
}

.button {
    display: block;
    /*margin: 0 auto;*/
    text-align: center;
    margin-top: 100px;
    color: #FFFFFF;
}
.button:hover {
    transform: scale(1.1);
}


.wrapper {
    min-height: calc(100vh - 128px);
}

a {
    text-decoration: none;
    background-color: transparent;
}
